<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309224307453-oout0kh8opsfvf9g9sj09ku8vtqoeob3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309224307453-oout0kh8opsfvf9g9sj09ku8vtqoeob3</string>
	<key>API_KEY</key>
	<string>AIzaSyArNF62UTUVLnHR-ibXLEB0WvzTTejEXcM</string>
	<key>GCM_SENDER_ID</key>
	<string>309224307453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haldiram.lms</string>
	<key>PROJECT_ID</key>
	<string>haldiram-42205</string>
	<key>STORAGE_BUCKET</key>
	<string>haldiram-42205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309224307453:ios:f37305c78bbda3a4535c94</string>
</dict>
</plist>