// ion-item {
//     --padding-start: 20px;
//     --padding-end: 20px;
//   }

  .input-label {
    // font-size: 18px; /* Increase font size for title */
    font-weight: bold; /* Make the title bold */
    color: black;
    margin-bottom: 10px; /* Increase spacing between title and input */
  }
  .user-text {
 font-size: 17px; /* Increase font size for title */
 font-weight: bold; /* Make the title bold */
 color: black;
 margin-bottom: 10px; /* Increase spacing between title and input */
  }


  .input-field {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
  }
  .input-box {
    display: block;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
}


//   .ion-button {
//     --padding-start: 20px;
//     --padding-end: 20px;
//     margin-top: 20px;
//     border-radius: 8px;
//   }
//   ion-item.ion-margin-bottom {
//     margin-bottom: 20px; /* Add margin between notice and text fields */
//   }
